body {
  background-image:url("bg.jpg");
  background-size:cover;
  background-repeat:no-repeat;
}

#container {
  width:700px;
  height:300px;
  overflow:hidden;
  position:relative;
  top:-19px;
}

#container img {
  margin:0;
  float:left;
}

#slider-container {
  width:700px;
  height:340px;
  overflow:hidden;
  margin:auto;
  text-align:center;
}

#slider {
  width:2100px;
  height:300px;
  transition:margin-left .8s;
}

#image1:checked ~ #container #slider {
  margin-left:0;
}

#image2:checked ~ #container #slider {
  margin-left:-700px;
}

#image3:checked ~ #container #slider {
  margin-left:-1400px;
}

.selector {
  position:relative;
  top:310px;
}